<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title><%= title %></title>

    <% for (file of cssFiles) { %>
        <link rel="stylesheet" href="<%= file %>">
    <% } %>

    <script>
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = window.location.search.match( /print-pdf/gi ) ? '/css/print/pdf.css' : '/css/print/paper.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
</head>
<body>
<div class="reveal">
    <div class="slides">
        <section>
            <h3>Generated presentations:</h3>
            <ul>
                <% for (index in config.presentations) { %>
                    <li><a href="<%= config.presentations[index].file %>"><%= config.presentations[index].title %></a></li>
                <% } %>
            </ul>
        </section>
        <%- slides %>
    </div>
</div>

<% for (file of jsFiles) { %>
    <script src="<%= file %>"></script>
<% } %>

<script>
    Reveal.initialize(
        <%- JSON.stringify(config.reveal) %>
    );
</script>
</body>
</html>
